{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}

<div class="container">
    <h1>Bienvenido</h1>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <a href="{% url 'logout' %}">"Logout"</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    {% render_bundle 'app' %}
</div>

{% endblock %}